<%= form_for @wiki, html: {method: 'put'}, url: wiki_path(@wiki.name) do |f|%>
  <div>
    <%= f.label 'wiki 文件名'%>
    <%= f.text_field 'name', placeholder: 'year-month-day-keywords', value: "#{@wiki.name}" %>
  </div>

  <div>
    <%= f.label 'wiki 关键字' %>
    <%= f.text_field 'title', placeholder: 'keywords' %>
  </div>

  <div id="editor">
    <%= f.label '内容' %>
    <%= f.text_area 'raw_data', 'v-model': 'wiki'  %>
    <div v-html="wiki | marked"></div>
  </div>

  <div>
    <%= f.label '变更信息提示'%>
    <%= text_field_tag :message, '', placeholder: "update #{@wiki.name} "%>
  </div>

  <div>
    <%= f.submit '创建' %>
  </div>

<% end %>


<script>
window.onload=function(){
  new Vue({
    el: '#editor',
    data: {
      <%#wiki: '# hello'%>
      wiki: "<%= j @wiki.raw_data.to_s.html_safe %>"
    },
    filters: {
      marked: marked
    }
  });
};
</script>
