<%= form_for @wiki, html: {method: 'put'}, url: wiki_path(@wiki.name) do |f|%>
  <div>
    <%= f.label 'wiki Title'%>
    <%= f.text_field 'name', placeholder: 'year-month-day-keywords', value: "#{@wiki.name}" %>
  </div>

  <div id="editor">
    <%= f.label '内容' %>
    <%= f.text_area 'raw_data', 'v-model': 'wiki', 'v-on': 'scroll: scrollSync("#preview", $event)'  %>
    <div id="preview" v-html="wiki | marked" v-on="scroll: scrollSync('#wiki_raw_data', $event)"></div>
  </div>

  <div>
    <%= f.label '变更信息提示'%>
    <%= text_field_tag :message, '', placeholder: "update #{@wiki.name} "%>
  </div>

  <div>
    <%= f.submit '保存' %>
  </div>

<% end %>


<script>
window.onload=function(){
  new Vue({
    el: '#editor',
    data: {
      <%#wiki: '# hello'%>
      wiki: "<%= j @wiki.raw_data.to_s.html_safe %>"
    },
    filters: {
      marked: marked
    },
    methods: {
      scrollSync: function(targetEle, e) {
        var that = e.target;
        var scrollHeight = $(that).scrollTop();
        $(targetEle).scrollTop(scrollHeight);
      }
    }
  });
};
</script>
