<%= form_for @wiki, html: {method: 'post'} do |f|%>
  <div>
    <%= f.label 'wiki 文件名'%>
    <%= f.text_field 'name', placeholder: 'year-month-day-keywords', value: "#{@wiki.name}" %>
  </div>

  <div>
    <%= f.label 'wiki 关键字' %>
    <%= f.text_field 'title', placeholder: 'keywords' %>
  </div>

  <div>
    <%= f.label '内容' %>
    <%= f.text_area 'raw_data', placeholder: '#hello wiki'  %>
  </div>

  <div>
    <%= f.label '变更信息提示'%>
    <%= text_field_tag :message, '', placeholder: "update #{@wiki.name} "%>
  </div>

  <div>
    <%= f.submit '创建' %>
  </div>

<% end %>

<!--
<style>
  html, body, #editor {
    margin: 0;
/*    height: 100%;*/
    height: 500px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
  }

  textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
  }

  textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
  }

  code {
    color: #f66;
  }
</style>

<div id="editor">
  <textarea v-model="input"></textarea>
  <div v-html="input | marked"></div>
</div>
<script>
window.onload=function(){
  new Vue({
    el: '#editor',
    data: {
      input: '# hello'
    },
    filters: {
      marked: marked
    }
  })
}
</script>
-->
