<%= form_for @wiki, html: {method: 'post'} do |f| %>

  <div>
    <%= f.label 'wiki Title'%>
    <%= f.text_field 'name', placeholder: 'year-month-day-keywords', value: "#{@wiki.name}" %>
  </div>

  <div id="editor">
    <%= f.label '内容' %>
    <%= f.text_area 'raw_data', placeholder: '#hello wiki', 'v-model': 'input'  %>
    <div v-html="input | marked"></div>
  </div>

  <div>
    <%= f.label '变更信息提示'%>
    <%= text_field_tag :message, '', placeholder: "update #{@wiki.name} "%>
  </div>

  <div>
    <%= f.submit '创建' %>
  </div>

<% end %>

<script>
window.onload=function(){

  // init markdown editor
  new Vue({
    el: '#editor',
    data: {
      input: '# hello'
    },
    filters: {
      marked: marked
    }
  });

};
</script>
