<style>
  .content { 
    background-color: #ccc;
  }
</style>
<main role="main">
<div>
  <ul>
    <li>
      <a class="fa fa-star star"></a>  
    </li>
    <li>
      <%= link_to "", edit_wiki_path(@wiki.name), 'data-no-turbolink' => false, 'class': 'fa fa-edit' %>
    </li>
    <li>
      <a class="fa fa-trash delete"></a>
    </li>
  </ul>
</div>
<section class="content" id="wiki">
  <div class="clear-fix">
    <ul class="tab-controlls right clear-fix">
      <li v-repeat="tabControlls" v-on="click: tabControll(this)" class="{{triggerType === $value ? 'active' : ''}}">
        <a v-text="$value"></a> 
      </li>
    </ul>
  </div>
  <div class="tabs">
    <article id="article" class="markdown-body tab-item active" v-html="wiki | marked"></article>
    <div id="commits" class="tab-item">
      <ul>
          <% @wiki.versions.each do |v| %>
            <li>提交时间： <%= v.authored_date %></li>
            <li>提交人姓名：<%= v.author.name %></li>
            <li>提交人邮箱：<%= v.author.email %></li>
            <li>提交信息：<%= v.message %></li>
          <% end %>
      </ul>
    </div>
  </div>
</section>
</main>
<script>
window.onload=function(){
  new Vue({
    el: '#wiki',
    data: {
      wiki: "<%= j @wiki.raw_data.to_s.html_safe %>",
      triggerType: 'article',
      tabControlls: ['article', 'commits']

    },
    filters: {
      marked: marked
    },
    methods: {
      tabControll: function(item) {
        var triggerType = item._raw;
        item.$root._data.triggerType = item._raw;
        <%#$(".tabs .tab-item.active", "#wiki").removeClass("active");%>
        <%#$('#' + triggerType, "#wiki").addClass("active");%>
        $(".tabs .tab-item.active", "#wiki").slideUp().removeClass("active");
        $('#' + triggerType, "#wiki").slideDown().addClass("active");
      }
    }
  });
  $(".delete").click(function() {
    $.ajax({
      url: '/wikis/' + '<%= @wiki.name %>',
      method: 'delete',
      success: function(response) {
        console.log(response);
      }
    });
  });
  $(".star").click(function() { 
    var isStared = $(this).hasClass("active");
    var that = this;
    if(isStared) {
      $.ajax({
        url: '/stars/unstar',
        data: {
          name: '<%= @wiki.name %>'
        },
        success: function(response) {
          if(response.data.msg === 'success') {
            $(that).removeClass("active"); 
          } else {
            alert('unstar failed');
          }
        }
      });
    } else {
      $.ajax({
        url: '/stars/star',
        method: 'post',
        data: {
          name: '<%= @wiki.name %>'
        },
        success: function(response) {
          if(response.data.msg === 'success') {
            $(that).addClass("active");
          } else {
            alert('star failed');
          }
        }  
      });
    }  
  });
}
</script>
