<!DOCTYPE html>
<html>
<head>
  <title>WikiDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="top-header">
    <h1 class="title">wiki@geekpark</h1> 
  </header> 
  <%= yield %>

<%#<%= render '/shared/header' %>%>
<%#<%= render '/shared/footer' %>%>

  <footer>
    <div class="geekpark-logo"></div> 
  </footer>
</body>
</html>
