<!DOCTYPE html>
<html>
<head>
  <title>WikiDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  <header id="top-header">
    <div class="geekpark-logo"></div>
  </header> 
  <%= yield %>

<%#<%= render '/shared/header' %>
<%#<%= render '/shared/footer' %>

  <footer>
    <p>Copyright&copy2015&nbsp&nbsp北京中明万长管理咨询公司</p>
  </footer>
  </div>
</body>
</html>
